{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}小鲜肉{% endblock %}

{% block page_content %}

<section class="content-wrap">
    <div class="container" style="  margin-top: 35px">
        <div class="row">

            <main class="col-md-8 main-content">
                <!--<div class="container sections-wrapper">-->
                <!--<div class="row">-->
                <!--<div class="primary col-md-8 col-sm-12 col-xs-12">-->
                <!--<section class="about section">-->
                <!--<div class="section-inner">-->
                <!--<h2 class="heading">沪牌动态</h2>-->


                <article id=1 class="post">
                    <div class="post-head">
                        <h1 class="post-title"><a href="/custom-excerpts/">拍牌教程</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：zs</span> &bull;
                            <time class="post-date" datetime="2017年9月9日星期六下午4点57分" title="2017年9月9日星期三下午4点57分">
                                2017年9月9日
                            </time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>为了快速了解拍牌流程，精心准备了一套完整的拍牌教程。</p>
                    </div>
                    <div class="post-permalink">
                        <a href="{{url_for('main.coursestudy')}}" class="btn btn-default" target="_blank">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>


                <article id=2 class="post">
                    <div class="post-head">
                        <h1 class="post-title"><a href="/custom-excerpts/">软件教程</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：zs</span> &bull;
                            <time class="post-date" datetime="2017年9月9日星期六下午4点57分" title="2017年9月9日星期三下午4点57分">
                                2017年9月9日
                            </time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>软件熟练与否对于最终的成绩影响非常大。</p>
                    </div>
                    <div class="post-permalink">
                        <a href="{{url_for('main.rules')}}" class="btn btn-default" target="_blank">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>

            </main>


            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">官网</h4>
                    <div class="content community">
                        <p>QQ：810909753</p>
                        <p><a href="/" title="小鲜肉" target="_blank"
                              onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方网站'])"><i
                                class="fa fa-comments"></i>
                            官方网站</a></p>

                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div class="widget">
                    <h4 class="title">软件下载</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block"
                           onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载软件'])">小鲜肉助手</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签</h4>
                    <div class="content tag-cloud">
                        <a href="{{url_for('main.coursestudy')}}" target="_blank">教程</a>
                        <a href=" ">软件教程</a>



                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>



{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
