{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}查询{% endblock %}

{% block page_content %}
<div class="container">
<div class="page-header">
    <h1>标书查询</h1>
</div>


<table class="table table-hover">
  <caption>标书信息</caption>
  <thead>
    <tr>
      <th>身份证</th>
      <th>标书号</th>
      <th>密码</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
      {% for data in action_data %}
    <tr>
      <td> {{data.IDnumber}} </td>
      <td> {{data.BIDnumber}} </td>
      <td> {{data.BIDpassword}} </td>
      <td>  <a href={{ url_for('main.Edit_BID_data',device_id=data.id) }}> {{data.id}} </a>  </td>
    </tr>
     {% endfor %}  
    
  </tbody>
</table>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
