{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}外出押解设备管理系统 by jdh{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>导入设备信息</h1>
</div>
{#<div class="col-md-4">#}
    {#    {{ wtf.quick_form(form) }}#}
    {#</div>#}
<div class="col-md-4">
    <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file><br/>
        <input type=submit value=Upload>
    </form>
</div>
{#<form class="well form-inline" method="POST">#}
    {#    {{ form.hidden_tag() }}#}
    {#    <input type=file name=file>#}
    {#         <input type=submit value=Upload>#}
    {##}
    {#    {{ form.name() }}#}
    {#    <button type="submit" class="btn">{{ form.submit() }}</button>#}
    {#</form>#}

{% endblock %}